* {
	margin: 0;
	padding: 0;
	border: 0;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

:root {
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	--background: #30535F;
	--secondary-background: #090f13;
	--tertiary-background: #153b47;
	--quarternary-background: #3d606e;
	--quinary-background: #09191f;
	--text: whitesmoke;
}

@media screen and (max-width: 1920) {
	:root {
		font-size: 16px;
	}
}

body {
	background-color: var(--background);
	color: var(--text);
}

header {
	font-size: 5rem;
	text-align: center;
}

.nav-bar {
	position: fixed;
	width: 5rem;
	background-color: var(--background);
	height: 100vh;
	transition: width 75ms ease;
	overflow: hidden;
	text-wrap: nowrap;
}

.nav-bar:hover {
	width: 15rem;
}

.main-no-sources {
	display: grid;
	grid-template-areas: 
		'header header header header header'
		'main main main main main'
		'main main main main main'
		'main main main main main'
		'main main main main main';
	height: 100vh;
}

.main-with-sources {
	display: grid;
	grid-template-areas: 
		'nav header header header header menu'
		'nav main main main main menu'
		'nav main main main main menu'
		'nav main main main main menu';
	height: 100vh;
}

.title {
	font-size: 3rem;
}

.main-no-sources > div {
	background-color: var(--quarternary-background);
	text-align: center;
	padding: 1.5rem;
	color: var(--text);
}

.section1 {
	grid-area: nav;
	background-color: #1e232b;
}


.section1 > ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	font-size: 1.5rem;
}

.section1 > ul > li {
	margin: 1rem 0 1rem 1rem;
}

.section1 > ul > li:first-child {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 2rem;
}

a {
	text-decoration: none;
	color: whitesmoke;
}

a:hover {
	color:black;
}

.section2 {
	display: flex;
	align-items: center;
	justify-items: center;
	justify-content: center;
	grid-area: header;
}

.section3 {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: main;
	background-color: #7D7C7C;
}

.section3 > div {
	padding: 2rem;
	font-size: 2rem;
	flex: 1;
}


.img-container {
	flex: 1;
	padding: 2rem;
}

.section3 > .img-container > img {
	width: 100%;
	border-radius: 10%;
}

.section4 {
	grid-area: menu;
}

.section5 {
	grid-area: footer;
	justify-content: center !important;
}

